#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  text-decoration: none;
  display: inline-block;
  padding: 12px 8px;
  background-color: greenyellow;
  border-style: ridge;
  border-color: rgb(232, 232, 232);
  border-radius: 8px;
}
