html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial;
  font-size: 16px;
  box-sizing: border-box;
}

/* Form */
.form-container {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 32px 48px;
}

.form-container .form-heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.form-container form {}

form .form-input {
  width: 280px;
  background-color: rgb(240, 240, 240);
  border-style: solid;
  border-radius: 8px;
  border-color: rgb(232, 232, 232);
  box-sizing: border-box;
  padding: 8px 12px;
  margin: 8px 0px;
  outline: none;
}

form .form-submit {
  color: white;
  background-color: orange;
  border-radius: 8px;
  border-style: solid;
  border-color: rgb(232, 232, 232);
  padding: 8px 16px;
  margin: 12px 8px 0px 0px;
  cursor: pointer;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.pagination {
  display: block;
  text-align: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 4px 4px;
  display: inline-block;
  width: fit-content
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.alert {
  position: absolute;
  top: 20px;
  right: 20px;
  transition-timing-function: linear;
  transition-duration: 1s;
  border-radius: 16px;
  padding: 12px 20px;
  display: none;
}

.alert-success {
  background-color: rgb(0, 221, 0);
}

.alert-warning {
  background-color: rgb(244, 244, 72);
}

.alert-error {
  background-color: red;
}

.alert .alert-message {
  display: inline;
  margin-right: 20px;
}

.alert .alert-icon {
  font-size: 20px;
}
