.container {
  height: 100%;
  background-color: rgb(172, 172, 172);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  width: 400px;
  padding: 28px 0px;
  background-color: white;
  text-align: center;
  border-radius: 8px;
}

.login-form-container .form-heading {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(97, 97, 97);
  font-size: 20px;
  margin-bottom: 12px;
}

.login-form {}

.login-form input[type=text],
.login-form input[type=password] {
  width: 320px;
  line-height: 20px;
  margin-bottom: 16px;
}

.login-form .submit-btn {
  margin-right: 12px;
}
