#root {
  height: 100%;
  display: flex;
  overflow: scroll;
}

.layout {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.sidebar {
  position: relative;
  z-index: 2;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(182, 182, 182);
}

.header {}

.content {
  flex: 1;
}

@media screen and (min-width: 1092px) {
  .layout {
    display: none;
  }
}

@media screen and (max-width: 1092px) {

  .layout {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .sidebar {
    display: none;
  }

  .content {
    padding: 20px 0px;
  }

}
